{% extends "shared/layout.html" %}

{% block body %}

<div id="userControl">Tervetuloa {{ username }} <a href='logout'>Kirjaudu ulos</a></div>
<div id="messageDiv">{{ message }}</div>
<p>
  <div>Luo uusi alue</div>
  <form method="POST" action="{{ url_for('createArea') }}">
    <table>
      <tr>
	<td>
	  {{ groupForm.name.label }}
	</td>
	<td>
	  {{ groupForm.name }}
	</td>
      </tr>
      <tr>
	<td colspan="2">
	  <input type="submit" value="Add a new area"/>
	</td>
      </tr>
  </form>

  {% for area in areas %}
  <tr>
    <td>{{ area.name }}</td>
    <td>{{ area.messageCount }}</td>
  </tr>
  {% endfor %}

  <div>
    <button onclick="window.location='changePassword'">Change password</button>
  </div>
  {% if admin %}
  <div>
    <button onclick="window.location='administration'">Administration</button>
  </div>
  {% endif %}
</p>
{% endblock %}
