{% extends "shared/layout.html" %}

{% block body %}

<div id="userControl">Tervetuloa {{ username }} <a href='logout'>Kirjaudu ulos</a></div>
<div id="messageDiv">{{ message }}</div>
<p>
  <div>Luo uusi alue</div>
  <form method="POST" action="{{ url_for('area_create') }}">
    <table>
      <tr>
	<td>
	  {{ form.name.label }}
	</td>
	<td>
	  {{ form.name }}
	</td>
      </tr>
      <tr>
	<td colspan="2">
	  <input type="submit" value="Add a new task"/>
	</td>
      </tr>
  </form>

  <div>
    <button onclick="window.location='changePassword'">Vaihda salasanaa</button>
  </div>
  {% if admin %}
  <div>
    <button onclick="window.location='administration'">Ylläpito</button>
  </div>
  {% endif %}
</p>
<form id="tokenForm" method="POST" action="{{ url_for('changePassword') }}" hidden>
  <input name="token" value= {{ token }} />
</form>
<script>
  function changePassword() {
    $("#tokenForm")[0].submit()
  }
</script>
{% endblock %}
