{% extends "shared/layout.html" %}

{% block body %}

<div id="error" class="text-danger">{{ error }}</div>
<div id="message" class="text-success">{{ message }}</div>
<p>
  <div>Create a new area</div>
  <form method="POST" action="{{ url_for('createArea') }}">
    <table>
      <tr>
        <td>
          {{ groupForm.name.label }}
        </td>
        <td>
          {{ groupForm.name(class_="form-control", onkeyup="validateAreaName()") }}
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <input id="submitAreaButton" type="submit" class="btn btn-success" value="Add a new area" disabled/>
        </td>
      </tr>
    </table>
  </form>

  {% for area in areas %}
  <tr>
    <td><a class="btn btn-link" href='areas/{{ area.id }}'>{{ area.name }}</a></td>
    <td>{{ area.messageCount }}</td>
    <td>
      {% if current_user.is_admin %}
      <form method="POST" action="{{ url_for('deleteArea', areaId=area.id) }}">
        <input type="submit" class="btn btn-info" value="Delete"/>
      </form>
    </td>
    {% endif %}
  </tr>
  {% endfor %}

</p>
{% endblock %}
