{% extends "shared/loginLayout.html" %}

{% block body %}

{{ error }}
<form id="changePasswordForm" method="POST" action="{{ url_for('changePassword') }}">
  <table>
    <tr>
      <td>
        {{ form.oldPassword.label }}
      </td>
      <td>
        {{ form.oldPassword }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.password.label }}
      </td>
      <td>
        {{ form.password }}
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" onclick="displayPassword()"><span>Display password</span>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" value="Change password"/>
      </td>
    </tr>
</form>

{% endblock %}