{% extends "shared/loginLayout.html" %}

{% block body %}
<p>
  <form method="GET" action="{{ url_for('home') }}">
    <input id="buttonInput" type="submit" class="btn btn-info" value="Back"/>
  </form>

  <div id="error" class="text-danger">
    {{ error }}
  </div>
  <div id="loginDiv">
    <form id="changePasswordForm" method="POST" action="{{ url_for('changePassword') }}">
      <table>
        <tr>
          <td>
            {{ form.oldPassword.label }}
          </td>
          <td>
            {{ form.oldPassword(class_="form-control") }}
          </td>
        </tr>
        <tr>
          <td>
            {{ form.password.label }}
          </td>
          <td>
            {{ form.password(class_="form-control") }}
          </td>
        </tr>
        <tr>
          <td>
            <span>Repeat password</span>
          </td>
          <td>
            <input type="password" id="passwordRepeat" class="form-control" onkeyup="checkPassword()">
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <div>
              <input type="checkbox" class="form-check-input" onclick="displayPassword()"><span>Display password</span>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <input id="submitButton" class="btn btn-info" type="submit" value="Change password"/>
          </td>
        </tr>
      </table>
    </form>
  </div>
</p>
{% endblock %}