{% extends "shared/loginLayout.html" %}

{% block body %}

<form id="changePasswordForm" method="POST" action="{{ url_for('changePassword') }}">
    <div>
      <span>Vanha salasana</span><input type="password" name="oldPassword" 
            pattern=".{3,10}"
            required title="3-10 merkkiä pitkä"
            onkeyup="compare()"/>
    </div>
    <div>
      <span>Uusi salasana</span><input id="passwordInput" type="password" name="newPassword"
            pattern=".{3,10}"
            required title="3-10 merkkiä pitkä"
            onkeyup="compare()"/>
    </div>
    <div>
        <span>Uusi salasana uudestaan</span><input id="passwordCheck" type="password"
            name="password"
            pattern=".{3,10}"
            required title="3-10 merkkiä pitkä"
            onkeyup="compare()"/>
        <input type="checkbox" onclick="displayPassword()"><span>Näytä salasana</span>
    </div>
    <div>
        <div id="passwordCompareError" hidden>Salasanat eivät täsmänneet</div>
        <input id="submitButton" type="submit" value="Kirjaudu" disabled/>
    </div>
</form>

<script>
    function displayPassword() {
        var x = document.getElementById("passwordInput");
        var y = document.getElementById("passwordCheck");
        if (x.type === "password") {
            x.type = "text";
            y.type = "text";
        } else {
            x.type = "password";
            y.type = "password"
        }
    }

    function compare() {
        if($("#passwordInput").val() === $("#passwordCheck").val()) {
            $("#passwordCompareError")[0].hidden = true;
            $("#submitButton")[0].disabled = false;
        } else {
            $("#passwordCompareError")[0].hidden = false;
            $("#submitButton")[0].disabled = true;
        }
    }
</script>


{% endblock %}