{% extends "shared/loginLayout.html" %}

{% block body %}
<p>
  <div>Olet nyt kirjautunut ulos</div>
  <div>Sinut ohjataan kirjautumissivulle <span id="secondsCounter">3</span> sekunnin päästä</div>
</p>

<script>
    sessionStorage.removeItem('loginValid');
    sessionStorage.removeItem('loginToken');
    var seconds = 3;
    setInterval(function(){ 
        var secondsCounter = $("#secondsCounter");
        seconds -= 1;
        secondsCounter.text(seconds);
        if (seconds <= 0) {
            window.location = 'login';
        }
    }, 1000);
</script>


{% endblock %}