body {
    text-align: center;
    background-image: url("grey.png");
}

#topBanner {
    padding: 10px;
}

#error {
    padding-bottom: 10px;
}

#loginForm, #changePasswordForm {
    display: inline-block;
    text-align: center;
}