{% extends "shared/layout.html" %}

{% block body %}
<p>
    <form method="GET" action="{{ url_for('home') }}">
      <input id="buttonInput" type="submit" class="btn btn-info" value="Back"/>
    </form>
    <div>
        {{ content }}
    </div>

    {% for answer in answers %}
    <tr>
      <td>{{ answer.content }}</td>
      <!-- <td>
        {% if current_user.is_admin %}
        <form method="POST" action="{{ url_for('deleteAnswer', postId=post.id) }}">
          <input type="submit" class="btn btn-info" value="Delete"/>
        </form> -->
      </td>
      {% endif %}
    </tr>
    {% endfor %}

    <div>Reply</div>
    <form method="POST" action="{{ url_for('createAnswer', postId=postId) }}">
      <table>
        <tr>
          <td>
            {{ answerForm.content(class_="form-control") }}
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <input id="submitAreaButton" type="submit" class="btn btn-success" value="Reply"/>
          </td>
        </tr>
      </table>
    </form>
</p>
{% endblock %}