{% extends "shared/layout.html" %}

{% block body %}
<p>
  <div class="container">
    <form method="GET" action="{{ url_for('home') }}">
      <input id="buttonInput" type="submit" class="btn btn-info" value="Home"/>
    </form>
    <div>
      Title: {{ post.title }}
    </div>
    <div>Message:</div>
    <div>
        {{ post.content }}
    </div>
  </div>

    {% for answer in answers %}
      <div class="container">
        <div class="reply" id="hide{{ answer.id }}">
          <span id="content{{ answer.id }}">{{ answer.content }}</span>
          <span>{{ answer.createdOn }}</span>
          {% if answer.user_id == current_user.id %}
          <button class="btn btn-info" onclick="displayEdit('{{ answer.id }}')">Edit</button>
          {% endif %}
        </div>
        <div id="show{{ answer.id }}" id="editForm" hidden>
          <form method="POST" action="{{ url_for('editAnswer', answerId=answer.id) }}">
            <table>
              <tr>
                <td>
                  {{ editForm.content(class_="form-control") }}
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <input id="submitAreaButton" type="submit" class="btn btn-success" value="Edit"/>
                </td>
              </tr>
            </table>
          </form>
        </div>
      </div>
    {% endfor %}
    

    
    <div id="ReplyForm" class="container"><span>Reply</span>
      <form method="POST" action="{{ url_for('createAnswer', postId=post.id) }}">
        <table>
          <tr>
            <td>
              {{ answerForm.content(class_="form-control") }}
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <input id="submitAreaButton" type="submit" class="btn btn-success" value="Reply"/>
            </td>
          </tr>
        </table>
        {% for error in answerForm.content.errors %}
        <li>{{ error }}</li>
      {% endfor %}</td>
      </form>
    </div>
</p>
{% endblock %}