{% extends "shared/layout.html" %}

{% block body %}

<div id="messageDiv">{{ message }}</div>

<form method="GET" action="{{ url_for('home') }}">
  <input id="buttonInput" type="submit" class="btn btn-info" value="Home"/>
</form>

<p>
  <div>
    Registered users:
    <table>
      <tr>
        <th>User</th>
        <th>Post count</th>
      </tr>
      {% for user in users %}
      <tr class="container">
        <td>
          {{ user.username }}
          <form method="POST" action="{{ url_for('deleteUser', userId=user.id) }}">
              <input type="submit" class="btn btn-info" value="Delete"/>
          </form>
          {% if user.admin == False %}
          <form method="POST" action="{{ url_for('addAdmin', userId=user.id) }}">
            <input type="submit" class="btn btn-info" value="Make Admin"/>
          </form>
          {% endif %}
          {% if user.admin == True %}
          <form method="POST" action="{{ url_for('removeAdmin', userId=user.id) }}">
            <input type="submit" class="btn btn-info" value="Remove Admin"/>
          </form>
          {% endif %}
        </td>
        <td>
          {{ user.messageCount}}
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</p>
{% endblock %}
