{% extends "shared/layout.html" %}

{% block body %}

<div id="userControl"> <a href="javascript:returnHome()">Takaisin</a></div>
<div id="messageDiv">{{ message }}</div>

<form method="GET" action="{{ url_for('home') }}">
  <input id="buttonInput" type="submit" class="btn btn-info" value="Back"/>
</form>

<p>
  <div>
    Registered users:
    <table>
        <tr>
          <th>User</th>
        </tr>
        {% for user in users %}
        <tr>
          <td>
              {{ user.username }}
            <form method="POST" action="{{ url_for('deleteUser', userId=user.id) }}">
                <input type="submit" class="btn btn-info" value="Delete"/>
            </form>
          </td>
        </tr>
        {% endfor %}
      </table>
  </div>
</p>
{% endblock %}
